{% extends 'menu.html' %}

{% block pagename %} Добро пожаловать в салон "Эх, прокачу!" {% endblock %}

{% block menu %}
    {{ block.super }}
    <a href="/">Главная страница проекта</a>
{% endblock %}

{% block content %}
    <footer>
        <br><br><br><br>
        <b>Наш коллектив:</b>
        <pre>
                Бендер-Задунайский Остап Ибрагимович - командор
                Паниковский Михаил Самуэлевич - главный менеджер
                Балаганов Шура - младший менеджер, молочный брат О.И.Бендера-Задунайского
                Фунт - зиц-председатель
                Козлевич Адам Казимирович - шофёр международного класса
                Синицына Зося - секретарь командора

        </pre>
        <b>Генеральный спонсор автосалона -- </b><strong>Корейко Александр Иванович</strong>
    </footer>
{% endblock %}
