<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Эх, прокачу!". Запчасти и ГСМ</title>
</head>
<body>
    <h2>Запчасти и горюче-смазочные материалы</h2>
    <p></p>
    <ul>
        <li>Руль спортивный из рогов антилопы гну ... <i>извините, нет в продаже</i> ... <button><strike>Купить</strike></button></li>
        <li>Шланг бензиновый                      ... <i>извините, не завезли   </i> ... <button><strike>Купить</strike></button></li>
        <li>Коктейль фирменный <i>"Эх, прокачу!"</i> ... 500 руб. ... <button><b>Купить</b></button></li>
        <li>Виски <i>"Johnny Driver"</i> ... 750 руб. ... <button><b>Купить</b></button></li>
    </ul>
    <p></p>
    <button><a href="/autoshop/"><b>Главная</b></a></button>
</body>
</html>