<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Эх, прокачу!". Услуги</title>
</head>
<body>
    <h2>Услуги автосалона</h2>
    <p></p>
    <ul>
        <li>Поездка за город с пьянкой и плясками под луной neglige      ... <b>15 000 руб./час</b> ... <button><b>Заказать</b></button></li>
        <li>Заправка под завязку фирменным коктейлем и виски из самовара ... <b> 5 000 руб./чел.</b> ... <button><b>Заказать</b></button></li>
        <li>Поездка в любом направлении без пьянки и песнопений          ... <b>Бесплатно!!!</b> ... <button><b>Заказать</b></button></li>
    </ul>
    <p></p>
    <button><a href="/autoshop/"><b>Главная</b></a></button>
    <footer>
        <br><br><br><br>
        <b>Услуги оказывают:</b>
        <pre>
                Бендер-Задунайский Остап Ибрагимович - командор
                Балаганов Шура - главный помощник, молочный брат командора
                Паниковский Михаил Самуэлевич - главный менеджер автосалона
                Фунт - зиц-председатель
                Козлевич Адам Казимирович - шофёр международного класса
                Корейко Александр Иванович - главный спонсор автосалона
        </pre>
    </footer>
</body>
</html>