<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Эх, прокачу!". Запчасти и ГСМ</title>
</head>
<body>
    <h2>Запчасти и горюче-смазочные материалы</h2>
    <p></p>
    <ul>
        <li>{{ s1 }} <button>Купить</button></li>
        <li>{{ s2 }} <button>Купить</button></li>
        <li>{{ s3 }} <button><b>Купить</b></button></li>
        <li>{{ s4 }} <button><b>Купить</b></button></li>
    </ul>
    <p></p>
    <button><a href="/autoshop/"><b>Главная</b></a></button>
</body>
</html>